* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: url("../img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  height: 7.2rem;
  background-color: #fff;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 4px 2px 4px 4px #bebeca;

}

.header__img {
  background-color: white;
  height: 6.5rem;
  width: 100%;
}

.jumia__logo {
  width: 18rem;
  margin-left: 8rem;
  padding-top: 2rem;
}

.search {
  height: 4rem;
  width: 80%;
  border: 1px solid #a3a3a6;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  

  &__input {
    font-size: 1.4rem;
    font-family: inherit;
    //border: 1px solid #777;
    padding: 0.7rem 2rem;
    border-radius: 2px;
    width: 70%;
    background-color: #fff;
    border: none;
    margin-right: 7rem;

    &:focus {
      outline: none;
      // border: 1px solid #777;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      font-size: 1.4rem;
    }
  }

  &__button {
    border: none;
    background-color: #fff;
    fill: #75757a;
    // margin-right: 1rem;
    padding-top: 5px;
    // for the input 1px solid #a3a3a6;

    &:focus {
      outline: none;
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

.btn {
  height: 4rem;
  background-color: #f68b1e;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1rem;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border: 1px solid #f68b1e;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.btn:hover {
  color: #fff;
  background-color: #e07e1b;
  border: 1px solid #e07e1b;
  cursor: pointer;
}

.tools {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  


}
.tool {
  display: flex;
  gap: 0.5rem;
   justify-content: center;
   align-items: center;



  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    stroke: #000;
    stroke-width: 1.2px;
    fill: #fff;
  
  }

}

.tool__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 8px;
}


.small__icon {
  height: 2rem;
  width: 2rem;
  margin-top: 8px;
  
}



.tool-3 {
  margin-right: 8rem;
}



 .tool-1:hover .tt {
  color: #f68b1e;
  cursor: pointer;
}

.tool-1:hover .si{
  fill: #f68b1e;
}

.tool-1:hover .ti{
  stroke: #f68b1e;
}

.tool-2:hover .tt {
  color: #f68b1e;
  cursor: pointer;
}

.tool-2:hover .si{
  fill: #f68b1e;
}

.tool-2:hover .ti{
  stroke: #f68b1e;
}

.tool-3:hover .tt {
  color: #f68b1e;
  cursor: pointer;
}

.tool-3:hover .si{
  fill: #f68b1e;
}

.tool-3:hover .ti{
  stroke: #f68b1e;
}

// drop button 

.dropbtn {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 8px;
  border: none;
  background-color: #fff;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
   display: inline-block;
  
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
 position: absolute;
  background-color: #fff;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
 display: block;
   text-decoration: none;
 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  // background-color: #3e8e41;
color: #f68b1e;}
// drop-down button 
.btn-drop{
  background-color: #f68b1e;
  color: #fff;
  padding: 1rem;
  width: 15rem;
  height: 3.5rem;
  text-transform: uppercase;
  border: #f68b1e;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: .5rem;
margin-left: 1.5rem;

}

.btn-12{
  background-color: #f68b1e;
   padding: 1rem;
  // border-top: 1px solid #75757a;
  width: 15rem;
  height: 3.5rem;
  border: none;
  margin-left: 1.5rem;
  display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
margin-bottom: 1rem;
margin-top: 1rem;
}

.sp-c{
  color:#fff;
  font-size: 1.5rem;
  display: inline-block;
   padding-left: 1rem;
  

}
.btn__icon{
height: 2rem;
width: 2rem;
fill: #fff;
margin-left: -1rem;



}

.flyout__ic{
  height: 2rem;
  width: 2rem;
  fill: #fff;
  stroke: #000;
  

}
.flyic{
  display: flex;
// justify-content: center;
// align-items: center;

column-gap: 1rem;
border-radius: 5px;
 
}

.flyout__t{
font-size: 1.2rem;
font-family: Arial, Helvetica, sans-serif;
text-align: center;


}

